---
service_info:
  initial_user: 
    username: admin
    sshkeys:
    - "ssh-rsa AAAA...."
  files:
  - path: /root/cfg.tar.xz
    permissions: 644
    source_path: /etc/fdo-configs/device0/cfg/cfg.tar.xz
  commands: 
  - command: tar
    args:
    - xvf
    - /root/cfg.tar.xz
    - -C
    - /
  - command: systemctl
    args:
    - daemon-reload
  - command: systemctl
    args:
    - enable 
    - --now
    - rpm-ostreed-automatic.timer 
    - applyupdate.timer 
    - podman-auto-update.timer 
    - expose-application.service
  - command: rpm-ostree
    args:
    - kargs
    - --append=console=tty0
    - --append=console=ttyS0,115200
  - command: ln
    args:
    - -s
    - /var/home/admin/.config/systemd/user/container-httpd-proxy.socket
    - /var/home/admin/.config/systemd/user/sockets.target.wants/container-httpd-proxy.socket
  - command: ln
    args:
    - -s
    - /var/home/admin/.config/systemd/user/podman-auto-update.timer
    - /var/home/admin/.config/systemd/user/timers.target.wants/podman-auto-update.timer
  - command: ln
    args:
    - -s
    - /var/home/admin/.config/systemd/user/pre-pull-container-image.service
    - /var/home/admin/.config/systemd/user/default.target.wants/pre-pull-container-image.service
  - command: ln
    args:
    - -s
    - /var/home/admin/.config/systemd/user/pre-pull-container-image.service
    - /var/home/admin/.config/systemd/user/multi-user.target.wants/pre-pull-container-image.service
  diskencryption_clevis: 
  - disk_label: /dev/vda4
    binding:
      pin: tpm2
      config: "{}"
    reencrypt: true
  additional_serviceinfo: ~
bind: "0.0.0.0:8083"
service_info_auth_token: [REPLACE_WITH_TOKEN]
admin_auth_token: [REPLACE_WITH_TOKEN]
device_specific_store_driver:
  Directory:
    path: /etc/fdo/aio/stores/serviceinfo_api_devices