---
service_info:
  initial_user: 
    username: admin
    sshkeys:
    - "ssh-rsa AAAA...."
  files:
  - path: /etc/rpm-ostreed.conf
    permissions: 644
    source_path: /etc/fdo-configs/device0/cfg/etc/rpm-ostreed.conf 
  - path: /var/home/admin/.config
    permissions: 644
    source_path: /etc/fdo-configs/device0/cfg/var/home/admin/.config
  - path: /etc/systemd/system
    permissions: 644
    source_path: /etc/fdo-configs/device0/cfg/etc/systemd/system
  - path: /etc/sudoers.d/admin
    permissions: 644
    source_path: /etc/fdo-configs/device0/cfg/etc/sudoers.d/admin
  - path: /etc/greenboot/check/required.d/01_check_upgrade.sh
    permissions: 644
    source_path: /etc/fdo-configs/device0/cfg/etc/greenboot/check/required.d/01_check_upgrade.sh
  commands: 
  - command: systemctl
    args:
    - daemon-reload
  - command: systemctl
    args:
    - enable 
    - --now
    - rpm-ostreed-automatic.timer 
    - applyupdate.timer 
    - podman-auto-update.timer 
    - container-httpd-proxy.socket
    - pre-pull-container-image.service 
    - expose-application.service
  - command: rpm-ostree
    args:
    - kargs
    - --append=console=tty0
    - --append=console=ttyS0,115200
  diskencryption_clevis: 
  - disk_label: /dev/vda
    binding:
      pin: tpm2
      config: "{}"
    reencrypt: true
  additional_serviceinfo: ~
bind: "0.0.0.0:8083"
service_info_auth_token: [REPLACE_WITH_TOKEN]
admin_auth_token: [REPLACE_WITH_TOKEN]
device_specific_store_driver:
  Directory:
    path: /etc/fdo/aio/stores/serviceinfo_api_devices